{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>Friend Suggestions for {{ profile.first }} {{ profile.last }}</h2>

{% if suggested_friends %}
    <ul>
        {% for friend in suggested_friends %}
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
                <a href="{% url 'show_profile' friend.pk %}">
                    <img src="{{ friend.image_url }}" alt="{{ friend.first }} {{ friend.last }}" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;">
                </a>
                <a href="{% url 'show_profile' friend.pk %}">{{ friend.first }} {{ friend.last }}</a>
                <br>
                <a href="{% url 'add_friend' profile.pk friend.pk %}">Add Friend</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No friend suggestions available.</p>
{% endif %}
{% endblock %}
