{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>All Profiles</h1>

<div class="profiles-list">
    {% for profile in profiles %}
        <div class="profile-item">
            <a href="{% url 'show_profile' profile.pk %}">
                <h2>{{ profile.first }} {{ profile.last }}</h2>
                {% if profile.image_url %}
                    <img src="{{ profile.image_url }}" alt="Profile Image" style="width:100px; height:auto;">
                {% endif %}
            </a>
            <p>City: {{ profile.city }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
