{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Matthew McConaughey | Quote of the Day</title>
        <link rel="stylesheet" href="https://cs-people.bu.edu/ralzaid/hw3/static/styles.css">
    </head>
    <body>
    <div class="page-wrapper">
    <h1>Matthew McConaughey's Wise Quote of the Day</h1>
        <div id="container">
            <nav>
                <ul>
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'home' %}">Quote</a>
                    <a href="{% url 'show_all' %}">Show All</a>
                    <a href="{% url 'about' %}">About</a>
                </ul>
            </nav>
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
    </body>
    <footer>
        All rights reserved to Rafal Alzaid &#169;.
    </footer>
</html>